<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>


  <!-- 1. Input queue must be on the same machine as the process feeding off of it.
       2. Run this endpoint on the machine that has the error queue.-->

  <UnicastBusConfig
    DistributorControlAddress=""
    DistributorDataAddress=""
    ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>
      <add Messages="NServiceBus.Management.Errors.Messages" Endpoint ="NServiceBus.Management.Errors.Monitor" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="NServiceBus.Management.Errors"/>

  <appSettings>
    <!-- settings needed for error monitoring. Specify the queue that is configured as the error queue in all NSB endpoints.
    A copy of the error message will be stored in a queue called <ErrorQueueToMonitor>.Storage and will be used to reprocess error messages-->
    <add key="ErrorQueueToMonitor" value="NServiceBus.Errors" />
    <!-- settings needed for raven db persistence-->
    <add key="DocumentDBUrl" value="http://localhost:8080"/>
    <add key="DefaultDocumentDB" value="NServiceBus"/>    
  </appSettings>

  <!-- settings needed for raven db persistence-->
  <connectionStrings>
    <add name="RavenDbConnectionString" connectionString="Url = http://localhost:8080; DefaultDatabase=NServiceBus.Management.Errors.Persistence" />
  </connectionStrings>

</configuration>