<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <MsmqTransportConfig NumberOfWorkerThreads="10" MaxRetries="10" />
  <UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>
      <add Messages="NServiceBus.Management.Errors.Messages" Endpoint="NServiceBus.Management.Errors.Monitor" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="NServiceBus.Management.Errors" />
  <appSettings>
    <!-- Saga Id, If this endpoint is restarted, we want the processing of the messages to belong to the same saga-->
    <add key="AlerterInstanceId" value="65E6B1AB-47C1-4362-9C0C-40E400FDD6D0" />
    <!--Wait for the configured amount of time in seconds before sending out any kind of alert. The support GUI will
    display the errors as they come in, so if the support team has already resolved those errors, no point in sending an alert
    email about the error -->
    <add key="TimeToWaitBeforeAlerting" value="60" />
    <add key="TimeToWaitBeforeEscalating" value="120" />
    <!--If there are more than the set threshold limit, then there is no point overloading the email with all of the items.
    Instead alert that the error queue has the <n> number of messages. At this point, it should be a concern that you have
    a pile of error messages in the queue-->
    <add key="CriticalErrorLimit" value="5" />
    <!-- settings needed for smtp notification-->
    <add key="RecipientList" value="recipient@yourdomain.com;" />
    <add key="CCList" value="" />
    <add key="BccList" value="" />
  </appSettings>
  <!-- settings needed for smtp notification-->
  <system.net>
    <mailSettings>
      <smtp from="youremail@somedomain.com">
        <network host="smtp.server" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>