<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />

  <appSettings>
    <add key="AuditQueue" value="NServiceBus.AuditMessages"/>
  </appSettings>

  <connectionStrings>
    <add name="AuditMessagesDatabase" connectionString="Url = http://localhost:8080; DefaultDatabase=NServiceBus.Management.Auditing.Persistence" />
  </connectionStrings>
  
</configuration>