<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!--<add key="AuditQueue" value="NServiceBus.AuditMessages"/>-->
    <add key="AuditQueue" value="audit" />
  </appSettings>
  <connectionStrings>
    <add name="AuditMessagesDatabase" connectionString="Url = http://localhost:8080; DefaultDatabase=NServiceBus.Management.Auditing.Persistence" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>